.tweet {
  display: grid;
  grid-template-areas: 'avatar body';
  grid-template-columns: 50px 1fr;
  grid-gap: 15px;
  padding: 10px 15px;
  border-bottom: 1px solid var(--c-border-color);
}

.avatar {
  grid-area: avatar;
}

.body {
  grid-area: body;
}

.content {
  white-space: pre-wrap;
}
